<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API scheme</key>
	<string>https</string>
	<key>API host</key>
	<string>clinkinterview.getsandbox.com</string>
	<key>API basic auth required</key>
	<false/>
	<key>API basic auth user</key>
	<string></string>
	<key>API basic auth password</key>
	<string></string>
</dict>
</plist>
